streamlit
tempfile
os
platform
re
requests
json
sentence-transformers
numpy
faiss-cpu
transformers
faster-whisper
fpdf
PyPDF2
langchain
langchain-community
langchain-core
langchain-groq
psutil
pandas
reportlab
